@model SongTracker.ViewModels.FeedViewModel

@{
    ViewData["Title"] = "Feed";
    ViewBag.UserId = Model.ActiveUserId;

}


<h3>Recent Activity</h3>
@foreach (var item in Model.Activity)
{
    <p>@item</p>
}